fastapi
uvicorn[standard]
python-multipart
pydantic
requests
python-dotenv
qdrant-client
fastembed
transformers==4.37.2
sentence-transformers==2.3.1
accelerate==0.26.1
pypdf
ftfy
numpy
langchain
langchain-community
tqdm
