fastapi
uvicorn[standard]
python-multipart
pydantic
requests
python-dotenv
qdrant-client
fastembed
transformers==4.40.0
sentence-transformers==3.0.0
accelerate==0.30.0
pypdf
ftfy
numpy
langchain
langchain-community
tqdm
