fastapi
uvicorn[standard]
python-multipart
pydantic
requests
python-dotenv
qdrant-client
fastembed
transformers
sentence-transformers
accelerate
pypdf
ftfy
numpy
langchain
langchain-community
tqdm
